.btn {
  position: fixed;
  right: 3%;
  bottom: 5%;
  border: 2px solid white;
  z-index: 99;
  background-color: #191919;
  color: white;
}
.text {
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 800px) {
  .text {
    font-size: 13px;
    font-weight: 500;
  }
}
