.title {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.raboti {
  font: 800 140px Arial;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;

}


.portfolio {
  margin-top: 55px;
}
